DOMAIN=domain.net
ACME_EMAIL=username@domain.net
CLOUDFLARE_API_TOKEN=your_cloudflare_api_token

CROWDSEC_BOUNCER_KEY=your_crowdsec_bouncer_key

GRAFANA_USERNAME=your_grafana_username
GRAFANA_PASSWORD=your_grafana_password

POSTGRES_PASSWORD=your_postgres_password
